// TARNSICIÓN HOME PUBLICIDAD
.pu {
  max-width: 100%;
  height: auto;
  border: 4px solid white;
  background-color: lightblue;
  transition: background 1s linear;

  &:hover {
    background-color: #fb8a00;
  }
}


// TARNSICIÓN 
.pub1 {
  max-width: 100%;
  height: auto;
  border: 4px solid white;
  background-color: lightblue;
  transition: background 1s linear;

  &:hover {
    background-color: #fb8a00;
  }
}




// ANIMACIÓN 1

.pub2 {
  max-width: 100%;
  height: 50px;
  border: 2px solid black;
  background-color: lightcoral;
  animation-name: publi2;
  //  animation-duration: 5s;
  //  animation-timing-function: linear;
  //  animation-iteration-count: infinite;
  //  animation-delay: 2s;
  //resumida en una linea:
  animation: publi2 5s linear infinite;
}

.pub2:hover {
  animation-play-state: paused;
}

@keyframes publi2 {
  from {
    background: lightcoral;
  }

  to {
    background: #257317;
  }
}

// Animación 2

.pub3 {
  max-width: 50%;
  height: 250px;
  border: 2px solid black;
  background-color: lightcoral;
  animation-name: publi2;
  //  animation-duration: 5s;
  //  animation-timing-function: linear;
  //  animation-iteration-count: infinite;
  //  animation-delay: 2s;
  
  animation: 
  publi3 5s infinite alternate,
  moverpub 4s infinite alternate;
}

.pub3:hover {
  animation-play-state: paused;
}

@keyframes publi3 {
  0% {
    background: lightcoral;
  }

  100% {
    background: #257317;
  }
}

@keyframes moverpub {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}