/* Explicación: se cra un buble for para programar 
el tamaño de los títulos desde h1 a h4 (de 0 a 3 el for). 
Se usa !important para pisar el código de Bootstrap */



@for $i from 0 through 3 {
    h#{$i + 1} {
        font-size: 2.6em - ($i * 0.956) !important;
        /*font-weight: 700 - ($i * 210) !important; */
        font-weight: 700;
    }
}

/* Formato párrafos */
p {
    color: #0b2206;
    font-size: 1.1em;
    /*font-family: $fuente;*/
    /*font-weight: bold !important;*/
    /*font-ssass --watch scss:cssize: small !important;*/
}
/* fin formato párrafo */


/* Formato a enlaces */
a {
    text-decoration: unset;
    text-overflow: #257317;    
}
/* fin formato enlace */