@mixin tablet {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: 576px) {
        @content;
    }
}

@mixin mediaquery($ancho) {
    @media screen and (max-width: #{$ancho}) {
        @content;
    }
}