@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


/* Uso de variables*/
$fuente: "Roboto";
$colorfuente: #000000;
$fuente-color: black;


/* Resetear formatos en Sass*/
* {
    padding: 0;
    padding: 0;
    font-family: $fuente;
    color: $colorfuente;
}

