/* resetear formatos de navegador */
* {
  padding: 0;
  padding: 0;
  /*box-sizing: border-box;*/
}

/* fin resetear datos de navegador */


/* -----PISA A BOOSTRAP con !important ya que en algnos casos no los toma----*/

.navbar>.container,
.navbar>.container-fluid,
.navbar>.container-lg,
.navbar>.container-md,
.navbar>.container-sm,
.navbar>.container-xl,
.navbar>.container-xxl {
  display: flex !important;
  ;
  flex-wrap: nowrap !important;
  ;
  align-items: center !important;
  ;
  justify-content: flex-end !important;
  ;
  gap: 15px !important;
  ;
}

/* -----fin AGREGADOS A BOOSTRAP ----*/


/* Formato a títulos h1 */
h1 {
  color: #000000;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

/* fin formato h1*/


/* Formato a títulos h2 */
h2 {
  color: #000000;
  text-align: left;
  font-family: 'Roboto', sans-serif !important;
  font-weight: bold !important;
  font-size: large !important;
  margin: 5px 5px;
}

/* fin formato h2 */

/*todo lo anterior a boostrap comentado */
/*.busqueda {
  width: 20px;
  padding: 8px;
  Espacio interno 
  border: 1px solid #ccc;
  
}*/



/* Formato Header */
/*.header {
     display: grid;
  grid-template-areas:
    "bus red1 red1"
    "he1 he1 he1"
    "he2 he2 he2"
  ;
}*/

/*.he1 {
   grid-area: he1;
}

.he2 {
   grid-area: he2;
}

.bus {
  grid-area: bus;
}

.red1 {
  grid-area: red1;
  display: flex;
  list-style-type: none;
  grid-row: 1 / 2;
  grid-row: 1 / 2;
  align-items: flex-end;
  margin-right: 11%;
  text-decoration: underline;
}

header ul {
  padding: 7px;
}

header li {
  padding: 7px;
}*/

/* fin todo lo anterior a boostrap comentado */

.header img {
  max-width: 18%;
  height: auto;
  margin: 0 auto;
  align-items: center;
}

/* anterior menú */
/*.nav {
  display: grid;
  grid-row: 2 / 3;
  align-items: center;
}*/

.main {
  display: grid;
  grid-template-areas:
    "nf nf nf aside"
    "n1 n1 n1 aside"
    "n2 n3 n4 aside"
    "n5 n6 n7 aside"
  ;
  align-items: stretch;
}

.n1,
.n2,
.n3,
.n4,
.n5,
.n6,
.n7,
.nf {
  padding: 11px;
  margin: 5px;
}

.n1 {
  background-color: lightgreen;
  grid-area: n1;
}

.n2 {
  background-color: lightslategrey;
  grid-area: n2;
}


.n3 {
  background-color: burlywood;
  grid-area: n3;
}

.n4 {
  background-color: lightgray;
  grid-area: n4;
}

.n5 {
  background-color: #fb8a00;
  grid-area: n5;
}

.n6 {
  background-color: lightblue;
  grid-area: n6;
}

.n7 {
  background-color: violet;
  grid-area: n7;
}

.nf {
  background-color: lightgreen;
  grid-area: nf;
  margin-bottom: 30px;
}

/* BARRA LATERAL */
.aside {
  background-color: lightgoldenrodyellow;
  grid-area: aside;
  padding: 11px;
  margin: 5px;
  font-family: 'Roboto', sans-serif !important;
  font-weight: bold !important;
  font-size: small !important;
  border-radius: 11px;
  list-style-type: decimal;
}

.aside ol {
  padding: 0px 0px 11px 18px;
  color: #111;
  font-weight: bold;
}

.aside p {
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif !important;
  font-weight: bold !important;
  font-size: 600 !important;
  padding: 5px 5px 5px 5px;
}

.aside h2 {
  color: #000000;
  text-align: left;
  font-family: 'Roboto', sans-serif !important;
  font-weight: bold;
  font-size: 700;
  margin: 5px 5px;
}


.item {
  border-radius: 11px;
}



p {
  color: #0b2206;
  font-size: 1.1em;
  font-family: 'Roboto', sans-serif;
  font-weight: bold !important;
  font-size: small !important;
  margin-bottom: 0 !important;

}

/* fin formato párrafo*/

/* Formato a enlaces */
a {
  text-decoration: unset;
  text-overflow: #257317;
}

/* fin formato enlace */

/* Dar formato a menú*/
/* nav ul {
  text-align: center;
  list-style-type: none;
  /* Quitamos las viñetas de la lista 
} */

/* nav li {
  display: inline;
  /* Ítems del menú en una línea horizontal 
  margin-left: 1%;
}*/

/* fin formato ul y li */

.footer {
  background-color: lightgray;
  border-radius: 11px;
  gap: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-end;
  padding: 20px;
  text-align: center;
}

.ful {
  display: flex;
  list-style-type: none;
  padding-left: 0px;
  margin: 0px;
  gap: 20px;
  align-items: end;
}

.footer p {
  margin: 0 px !important;
  padding: 0 px !important;
}

.footer a {
  text-decoration: none;
  color: #000000;
}

.footer a:hover {
  /*background-color: red; /* Cambia a rojo cuando el cursor está encima */
  color: lightblue;
  /* Cambia el color del texto */
  text-decoration: underline;
}

.footer a:visited {
  /*background-color: red; /* Cambia a rojo cuando el cursor está encima */
  color: blueviolet;
  /* Cambia el color del texto */
}

.whats {
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: 1000;
}



/* Formato a formulario */
/* Estilo para el elemento <form> */
form {
  display: flex;
  /* Usa Flexbox para organizar elementos */
  flex-direction: column;
  /* Alinea elementos en columna */
  gap: 11px;
  /* Espacio entre los elementos del formulario */
}

/* Estilo para las etiquetas <label> */
label {
  font-weight: bold;
  /* Texto en negrita */
  margin-bottom: 5px;
  /* Espacio debajo de la etiqueta */
}

/* Estilo para los campos de entrada <input> */
input[type="text"] {
  padding: 10px;
  /* Espacio interno del input */
  border: 1px solid #ccc;
  /* Borde gris */
  border-radius: 4px;
  /* Esquinas redondeadas */
  font-size: 16px;
  /* Tamaño de la fuente */
}

/* fin estilo para el formulario */

.antetitulo {
  font-weight: bold;
  padding: 7px;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

.featimg {
  max-width: 100%;
  object-fit: fill;
}

.feature img:hover {
  transform: scale(0.98);
}

/*******PARA TABLETAS***********/
/*************************/
/*************************/
@media (min-width: 431px) and (max-width: 800px) {

  .n2 h2 {
    color: #000000;
    text-align: left;
    font-family: 'Roboto', sans-serif !important;
    font-weight: bold !important;
    font-size: xx-large !important;
    margin: 5px 5px;
  }

  .header img {
    max-width: 23%;
    height: auto;
    margin: 0 auto;
    align-items: center;
  }

  .main {
    grid-template-areas:
      "n1 n1"
      "n2 n2"
      "n3 n4"
      "n5 n6"
      "n7 ."
    ;
  }

  .n1,
  .n2,
  .n3,
  .n4,
  .n5,
  .n6,
  .n7 {
    padding: 11px;
    margin: 5px;
  }


  .n1 {
    background-color: lightgreen;
    grid-area: n1;
    /*grid-row: 1 / 3;*/
    /*margin-bottom: 20px;*/
    /*padding: 11px;*/
  }

  .n2 {
    background-color: lightslategrey;
    grid-area: n2;
  }


  .n3 {
    background-color: burlywood;
    grid-area: n3;
  }

  .n4 {
    background-color: lightgray;
    grid-area: n4;
  }

  .n5 {
    background-color: #fb8a00;
    grid-area: n5;
  }

  .n6 {
    background-color: lightblue;
    grid-area: n6;
  }

  .n7 {
    background-color: violet;
    grid-area: n7;
    display: none;
  }

  .aside {
    display: none;
  }

}


/******Vista para Celulares*************/
/*-------------------------------------*/
@media (min-width: 320px) and (max-width: 430px) {


  .footer {
    background-color: lightgray;
    border-radius: 11px;
    gap: 11px;
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    padding: 20px;
    text-align: center;
  }

  .ful {
    display: flex;
    /*flex-direction: column;*/
    list-style-type: none;
    padding-left: 0px;
    margin: 0px;
    gap: 11px;
    align-items: end;
    justify-content: center;
  }

  .whats {
    position: fixed;
    bottom: 65px;
    right: 5px;
    z-index: 1000;
    max-width: 50%;
  }


  .header img {
    max-width: 47%;
    height: auto;
    margin: 0 auto;
    align-items: center;
  }

  footer {
    display: flex;
    flex-direction: column;
    /* cambia a columna */
    justify-content: space-evenly;
    align-items: center;
    display: column;
  }

  .main {
    grid-template-areas:
      "n1 n1"
      "n2 n2"
      "n3 n3"
      "n4 n4"
      "n5 n5"
      "n6 n6"
      "n7 n7"
    ;
  }

  .n1,
  .n2,
  .n3,
  .n4,
  .n5,
  .n6,
  .n7 {
    padding: 11px;
    margin: 5px;
  }

  .n1 {
    background-color: lightgreen;
    grid-area: n1;
  }

  .n2 {
    background-color: lightslategrey;
    grid-area: n2;
  }


  .n3 {
    background-color: burlywood;
    grid-area: n3;
  }

  .n4 {
    background-color: lightgray;
    grid-area: n4;
  }

  .n5 {
    background-color: #fb8a00;
    grid-area: n5;
  }

  .n6 {
    background-color: lightblue;
    grid-area: n6;
  }

  .n7 {
    background-color: violet;
    grid-area: n7;
  }

  .aside {
    display: none;
  }
}

/* ANIMACIONES */


/* TRansición */
.pub1 {
  max-width: 100%;
  height: auto;
  border: 4px solid white;
  background-color: indigo;
  transition: background 1s linear;
}

.pub1:hover {
  background-color: #fb8a00;
}

/* ANIMACIÓN 1 */

.pub2 {
  max-width: 100%;
  height: auto;
  border: 4px solid white;
  background-color: indigo;
  animation-name: publi2;
  animation-duration: 1s;
  animation-timing-function: linear;

}

@keyframes publi2 {
  from {
    background: indigo;
  }
  to {
    background:#257317;
  }
}