@charset "UTF-8";
/* Uso use en lugar de import, ya que éste está en desuso */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* Uso de variables*/
/* Resetear formatos en Sass*/
* {
  padding: 0;
  padding: 0;
  font-family: "Roboto";
  color: #000000;
}

/* Explicación: se cra un buble for para programar 
el tamaño de los títulos desde h1 a h4 (de 0 a 3 el for). 
Se usa !important para pisar el código de Bootstrap */
h1 {
  font-size: 2.6em !important;
  /*font-weight: 700 - ($i * 210) !important; */
  font-weight: 700;
}

h2 {
  font-size: 1.644em !important;
  /*font-weight: 700 - ($i * 210) !important; */
  font-weight: 700;
}

h3 {
  font-size: 0.688em !important;
  /*font-weight: 700 - ($i * 210) !important; */
  font-weight: 700;
}

h4 {
  font-size: -0.268em !important;
  /*font-weight: 700 - ($i * 210) !important; */
  font-weight: 700;
}

/* Formato párrafos */
p {
  color: #0b2206;
  font-size: 1.1em;
  /*font-family: $fuente;*/
  font-weight: bold !important;
  font-size: small !important;
  margin-bottom: 0 !important;
}

/* fin formato párrafo */
/* Formato a enlaces */
a {
  text-decoration: unset;
  text-overflow: #257317;
}

/* fin formato enlace */
/* Uso use en lugar de import, ya que éste está en desuso */
/* -----PISA A BOOTSTRAP con !important ---- */
.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  display: flex !important;
  flex-wrap: nowrap !important;
  align-items: center !important;
  justify-content: flex-end !important;
  gap: 15px !important;
  font-family: "Roboto";
  /*.nav-link.active {
    font-weight:bold; 
    color: var.$colorfuente;
  }*/
}

.header img {
  max-width: 18%;
  height: auto;
  margin: 0 auto;
  align-items: center;
}
.header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.n1 {
  padding: 11px;
  margin: 5px;
  background-color: lightgreen;
  /*asigna color con parámetro $color*/
  grid-area: n1;
  /*asigna nombre de area con variable $name*/
}

.n2 {
  padding: 11px;
  margin: 5px;
  background-color: lightslategrey;
  /*asigna color con parámetro $color*/
  grid-area: n2;
  /*asigna nombre de area con variable $name*/
}

.n3 {
  padding: 11px;
  margin: 5px;
  background-color: burlywood;
  /*asigna color con parámetro $color*/
  grid-area: n3;
  /*asigna nombre de area con variable $name*/
}

.n4 {
  padding: 11px;
  margin: 5px;
  background-color: lightgray;
  /*asigna color con parámetro $color*/
  grid-area: n4;
  /*asigna nombre de area con variable $name*/
}

.n5 {
  padding: 11px;
  margin: 5px;
  background-color: #fb8a00;
  /*asigna color con parámetro $color*/
  grid-area: n5;
  /*asigna nombre de area con variable $name*/
}

.n6 {
  padding: 11px;
  margin: 5px;
  background-color: lightblue;
  /*asigna color con parámetro $color*/
  grid-area: n6;
  /*asigna nombre de area con variable $name*/
}

.n7 {
  padding: 11px;
  margin: 5px;
  background-color: violet;
  /*asigna color con parámetro $color*/
  grid-area: n7;
  /*asigna nombre de area con variable $name*/
}

.nf {
  padding: 11px;
  margin: 5px;
  background-color: lightgreen;
  /*asigna color con parámetro $color*/
  grid-area: nf;
  /*asigna nombre de area con variable $name*/
  margin-bottom: 30px;
}

.pu {
  padding: 11px;
  margin: 5px;
  background-color: white;
  /*asigna color con parámetro $color*/
  grid-area: pu;
  /*asigna nombre de area con variable $name*/
}

.main {
  display: grid;
  grid-template-areas: "pu pu pu aside" "n1 n1 n1 aside" "n2 n3 n4 aside" "n5 n6 n7 aside";
  align-items: stretch;
  justify-items: center;
}

.item {
  border-radius: 11px;
}

.featimg {
  max-width: 100%;
  object-fit: fill;
}

.feature img:hover {
  transform: scale(0.98);
}

.antetitulo {
  font-weight: bold;
  padding: 7px;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
}

/* BARRA LATERAL */
.aside {
  background-color: lightgoldenrodyellow;
  grid-area: aside;
  padding: 11px;
  margin: 5px;
  font-family: "Roboto", sans-serif !important;
  font-weight: bold !important;
  font-size: small !important;
  border-radius: 11px;
  list-style-type: decimal;
  float: right;
}
.aside ol {
  padding: 0 0 11px 18px;
  color: #111;
  font-weight: bold;
}
.aside p {
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif !important;
  font-weight: bold !important;
  font-size: 600 !important;
  padding: 5px;
}
.aside h2 {
  color: #000000;
  text-align: left;
  font-family: "Roboto", sans-serif !important;
  font-weight: bold;
  margin: 5px;
}

h3 {
  color: #000000;
  text-align: left;
  font-family: "Roboto", sans-serif !important;
  font-weight: bold;
  margin: 5px;
  font-size: 1.11em !important;
}

/* Uso use en lugar de import, ya que éste está en desuso */
.footer {
  background-color: lightgray;
  border-radius: 11px;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  font-family: "Roboto";
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 20px;
}
.footer p {
  margin: 0 !important;
  padding: 0 !important;
}
.footer a {
  text-decoration: none;
  color: #000000;
}
.footer a:hover {
  color: lightblue;
  text-decoration: underline;
}
.footer a:visited {
  color: blueviolet;
}

.ful {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
  gap: 20px;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.whats {
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: 1000;
}

/*.footer {
  background-color: lightgray;
  border-radius: 11px;
  gap: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-end;
  padding: 20px;
  text-align: center;

  p {
    margin: 0px !important;
    padding: 0px !important;
  }

  a {
    text-decoration: none;
    color: #000000;

    &:hover {
      color: lightblue;
      text-decoration: underline;
    }

    &:visited {
      color: blueviolet;
    }
  }
}

.ful {
  display: flex;
  list-style-type: none;
  padding-left: 0px;
  margin: 0px;
  gap: 20px;
  align-items: end;
}

.whats {
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: 1000;
} */
/* Formato a formulario */
form {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type=text] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/*******PARA TABLETAS***********/
@media (min-width: 431px) and (max-width: 800px) {
  .n2 h2 {
    color: #000000;
    text-align: left;
    font-family: "Roboto", sans-serif !important;
    font-weight: bold !important;
    font-size: xx-large !important;
    margin: 5px;
  }
  .header img {
    max-width: 23%;
    height: auto;
    margin: 0 auto;
    align-items: center;
  }
  .main {
    grid-template-areas: "pu pu" "n1 n1" "n2 n2" "n3 n4" "n5 n6" "n7 .";
  }
  .pu,
  .n1,
  .n2,
  .n3,
  .n4,
  .n5,
  .n6,
  .n7 {
    padding: 11px;
    margin: 5px;
  }
  .n1 {
    background-color: lightgreen;
    grid-area: n1;
  }
  .n2 {
    background-color: lightslategrey;
    grid-area: n2;
  }
  .n3 {
    background-color: burlywood;
    grid-area: n3;
  }
  .n4 {
    background-color: lightgray;
    grid-area: n4;
  }
  .n5 {
    background-color: #fb8a00;
    grid-area: n5;
  }
  .n6 {
    background-color: lightblue;
    grid-area: n6;
  }
  .n7 {
    background-color: violet;
    grid-area: n7;
    display: none;
  }
  .pu {
    background-color: violet;
    grid-area: pu;
  }
  /*.pub2 {
      background-color: violet;
      grid-area: pub2;
  } */
  .aside {
    display: none;
  }
}
/****** Vista para Celulares ******/
@media (min-width: 320px) and (max-width: 430px) {
  /* Explicación: se crea tamaño mediante un buble for para programar 
  el tamaño de los títulos desde h1 a h4 (de 0 a 3 el for) 
  en el celular con un menor tamaño que para escritorio */
  h1 {
    font-size: 2em !important;
    font-weight: bold;
  }
  h2 {
    font-size: 1.49em !important;
    font-weight: bold;
  }
  h3 {
    font-size: 0.98em !important;
    font-weight: bold;
  }
  h4 {
    font-size: 0.47em !important;
    font-weight: bold;
  }
  .footer {
    background-color: lightgray;
    border-radius: 11px;
    gap: 11px;
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    padding: 20px;
    text-align: center;
  }
  .ful {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    gap: 11px;
    align-items: end;
    justify-content: center;
  }
  .whats {
    position: fixed;
    bottom: 65px;
    right: 5px;
    z-index: 1000;
    max-width: 50%;
  }
  .header img {
    max-width: 47%;
    height: auto;
    margin: 0 auto;
    align-items: center;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .main {
    grid-template-areas: "pu pu" "n1 n1" "n2 n2" "n3 n3" "n4 n4" "n5 n5" "n6 n6" "n7 n7";
  }
  .pu .n1,
  .n2,
  .n3,
  .n4,
  .n5,
  .n6,
  .n7 {
    padding: 11px;
    margin: 5px;
  }
  .n1 {
    background-color: lightgreen;
    grid-area: n1;
  }
  .n2 {
    background-color: lightslategrey;
    grid-area: n2;
  }
  .n3 {
    background-color: burlywood;
    grid-area: n3;
  }
  .n4 {
    background-color: lightgray;
    grid-area: n4;
  }
  .n5 {
    background-color: #fb8a00;
    grid-area: n5;
  }
  .n6 {
    background-color: lightblue;
    grid-area: n6;
  }
  .n7 {
    background-color: violet;
    grid-area: n7;
  }
  .pu {
    background-color: violet;
    grid-area: pu;
  }
  .aside {
    display: none;
  }
}
.pu {
  max-width: 100%;
  height: auto;
  border: 4px solid white;
  background-color: lightblue;
  transition: background 1s linear;
}
.pu:hover {
  background-color: #fb8a00;
}

.pub1 {
  max-width: 100%;
  height: auto;
  border: 4px solid white;
  background-color: lightblue;
  transition: background 1s linear;
}
.pub1:hover {
  background-color: #fb8a00;
}

.pub2 {
  max-width: 100%;
  height: 50px;
  border: 2px solid black;
  background-color: lightcoral;
  animation-name: publi2;
  animation: publi2 5s linear infinite;
}

.pub2:hover {
  animation-play-state: paused;
}

@keyframes publi2 {
  from {
    background: lightcoral;
  }
  to {
    background: #257317;
  }
}
.pub3 {
  max-width: 50%;
  height: 250px;
  border: 2px solid black;
  background-color: lightcoral;
  animation-name: publi2;
  animation: publi3 5s infinite alternate, moverpub 4s infinite alternate;
}

.pub3:hover {
  animation-play-state: paused;
}

@keyframes publi3 {
  0% {
    background: lightcoral;
  }
  100% {
    background: #257317;
  }
}
@keyframes moverpub {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
/* Uso use en lugar de import, ya que éste está en desuso */
.promo1, .llamado1 {
  border: 3px solid lightsalmon;
  background: lightcoral;
  margin: 10px;
  font-family: "Roboto";
  font-size: 0.5em;
  font-weight: 700;
  border-radius: 11px;
  padding: 11px;
  text-align: center;
}

/*# sourceMappingURL=estilos.css.map */
